body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
}

main {
    display:inline-block;
    width: 60%;
    max-width: 600px;
    justify-content: center;
}

.main-header {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.main-content {
    font-size: 90%;
    padding: 20px 0;
}

button {
    color: white;
    background-color: rgb(92, 24, 129);
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(142, 71, 166);;
}

button:active {
    border: 2px solid skyblue;
}

.enter-score-header {
    display: none;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}

.enter-score-content {
    display: none;
    text-align: left;
    font-size: 90%;
    padding: 20px 0;
}

form {
    padding: 20px 0px;
}

.highscores-header {
    display: none;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.quiz-header {
    display: none;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}

.quiz-content {
    display: none;
    flex-direction: column;
    padding: 20px 0;
}

.quiz-content button {
    justify-content: left;
    text-align: left;
    width: fit-content;
    margin: 2px 6px;
}
